.links line
{
  fill: none;
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5px;
}

.link {
  stroke: #ccc;
}

.nodes circle
{
  stroke: #179;
  stroke-width: 1.5px;
}

text
{
  font: 10px sans-serif;
  pointer-events: none;
}

#img
{
  width: 8%;
}
